
<div class="patients-page">
  <h1>Patients</h1>
  <% if @patients.size > 0  %>
    <div class="patients-holder">
      <% @patients.each do |patient| %>
        <%= render patient %>
        <p>
          <%= link_to "Show", patient_path(patient) %>
        </p>
      <% end %>
    </div>
  <% else %>
    <p>There are no patients.</p>
  <% end %>
  <% if current_user.role == 'Receptionist'%>
    <%= link_to "New patient", new_patient_path, class: "btn" %>
    <div id="patients">
    </div>

  <% else %>
    <h2>Patients Registered Over Days</h2>
    <%= column_chart @graph_data, id: "patients-chart", height: "400px", width: "600px", title: 'Patients over days', xtitle: "Date", ytitle: "Patients", empty: "No patients"  %>
  <%end%>
</div>
